@import url('httpss://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    /*background-color: #207398;*/
    background:linear-gradient(to right, #03203C 0%, #207398 50%, #03203C 99%);
}