@import url('httpss://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    /*background-color: #207398;*/
    background:linear-gradient(to right, #03203C 0%, #207398 50%, #03203C 99%);
}

.username-display{
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    background-color: #46B2E0;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    top: 50px;
}

.welcome{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    background-color: #03203C;
    color: rgb(181, 181, 196);
    width: 50%;
}

.form-header{
    margin-top: 40px;
    width: 30%;
    background-color: #03203C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom:none;
    min-width :400px;
}

.form-header h1{
    font-size: 20px;
    text-align:center;
    color:#46B2E0;
    padding:10px 0;
    text-shadow: 2px 2px 10px #207398;
    border-bottom:1px solid #cccccc;
}

.pswd-enter {
    width:80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

#box{
    min-width :400px;
    position: relative;
    background: #FFF;
    width:30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top:1%;
    margin-top: -12px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.logbutn {
    position: relative;
    color: #FFF;
    background-color: #04072f;
    width: 25%;
    padding: 5px 15px;
    margin: 15px 0px 10px;
    transition: background 0.5s ease;
    border-radius: 7px;
  }
  
  .logbutn:hover {
    background-color: #46B2E0;
  }


